<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.probook.proyecto">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Menu" />
        <activity android:name=".Especializaciones" />
        <activity android:name=".Uniremington" />
        <activity android:name=".Pregrado" />
        <activity android:name=".Tecnologias" />
        <activity android:name=".Extencion" />
        <activity android:name=".Gruposdeestudio" />
        <activity android:name=".Valoresinstitucionales" />
        <activity android:name=".Lineamientosacademicos" />
        <activity android:name=".Calendarioacademico" />
        <activity android:name=".Reglamentoestudiantil" />
        <activity android:name=".Directorioadministrativo" />
        <activity android:name=".Dondeestamos" />
        <activity android:name=".Misionvision" />
        <activity android:name=".Armenia" />
        <activity android:name=".Boyaca" />
        <activity android:name=".Bucaramanga" />
        <activity android:name=".Cucuta" />
        <activity android:name=".Medellin" />
        <activity android:name=".Monteria" />
        <activity android:name=".Pasto" />
        <activity android:name=".Pereira" />
        <activity android:name=".Sincelejo" />
        <activity android:name=".Yopal" />
        <activity android:name=".Preinscripcion" />
        <activity android:name=".Requisitosdeinscripcion" />
        <activity android:name=".Homologaciones" />
        <activity android:name=".Formasdepago" />
        <activity android:name=".Conveniosydescuentos"></activity>
    </application>

</manifest>